body{
    font-size: small;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    line-height: 1.6em;
}
h1,h2{
    color: #007e7e;
}
h1{
    font-size: 1.5em;
}
h2{
    font-size: 1.3em;
}
#guarantee{
    padding: 25px 25px 25px 80px;
    margin: 30px 250px 30px 30px;
    line-height: 1.9em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #444;
    font-style: italic;
    background: #a7cece url(../images/background.gif) no-repeat top left;
    border: 1px dashed white;
}